/.bash_history
/.bash_profile
/.bashrc
/.cache
/.config
/.cshrc
/.forever
/.forward
/.local
/.login
/.logout
/.mailrc
/.mysql_history
/.npm
/.vscode-server
/Windows.Documents
/mail
/node_modules
/perl5
/task1