<!DOCTYPE html>

<head>
     <link rel="stylesheet" href="/static/css/design.css">
    <title>Add Console</title>
</head>

<body>
    <div class="topNavigation">
        <a href="./index.html">Index</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/games">Games</a>
        <a class="on" href="/consoles">Consoles</a>
        <a href="/stores">Stores</a>
        <a href="/rewards">Rewards</a>
    </div>

    <br />
    <br />
    <br />


<h2> Error </h2>

<p> An invalid entry was made or this entry already exists.</p>
<p> The above navigation bar can be used to transverse this website.</p>

</body>
</html>